#admission-section {
	max-width:100%;
  height: auto;
  padding:4px;
/*  border:1px solid blue;*/
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #1D6BE0;
   background:linear-gradient(45deg, #00235B, #005792, #085F63);
}


#admission-section > h1 {
	font-size: 2.5rem;
    color:white;
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
   font-style: normal;
   margin-top: 4px;
   margin-bottom: 4px;
}


.admission-section-container {
  max-width:100%;
  height: auto;
/*  border:1px solid red;*/
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.admission-section-container > h1 {
  font-size: 1.8rem;
   color:#015551;
   color:#3B6790;
   color:#FE4F2D;
   color:#FE4F2D;
   color:#FD5959;
/*   color:#3B6790;*/
   font-family: "Montserrat", sans-serif;
   font-style: normal;
   font-weight: 600;
   text-align: center;
   padding: 8px;
}

.admission-section-container > h3 {
  color:#1E3E62;
  color:#A94A4A;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
   text-align: center;
}


.admission-criteria-container {
  width:100%;
  height: 300px;
/*  border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:8px;
}

.admission-criteria-container > h1 {
    font-size: 1.8rem;
    color:#004182;
    color:#3B6790;
   font-family: "Montserrat", sans-serif;
   font-style: normal;
   font-weight: 600;
   text-align: center;
   padding: 8px;
   margin-top: 40px;
}


.apply-criteria-lists-container {
  width:100%;
  height: auto;
/*  border-bottom:1px solid #074799;*/
/*border:1px solid blue;*/
  padding: 16px;
  background-color: #F7F6BB;
  margin:8px;
  text-align: justify-all;
}


.apply-criteria-lists-container > ul > li {
  list-style-type: none;
  font-size: 1.5rem;
  margin-top: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color:#1E3E62;
}


.checkbox {
  width:20px;
  height: 20px;
}


.admission-steps-container {
  max-width:100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  padding: 8px;
/*  border:1px solid blue;*/
}

.admission-steps-container > h1 {
   font-size: 1.8rem;
   color:#004182;
   color:#3B6790;
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
   font-style: normal;
   text-align: center;
   padding: 8px;
}

.admission-process-lists-container {
  width:100%;
  height: auto;
/*  border-top:1px solid #074799;*/
/*  border:1px solid blue;*/
  padding: 8px;
  background-color: #FDF7F4;
  margin-top: 12px;
  margin:8px;
}

.admission-process-lists-container > ul {
  display: flex;
  flex-wrap: wrap;
}

.admission-process-lists-container > ul > li {
   list-style-type: none;
   font-size: 1.5rem;
   margin-bottom: 20px;
   font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color:#1E3E62;
  margin:8px;
}


.higlighted-text {
   color:#141E46;
   font-family: "Montserrat", sans-serif;
   font-weight: 400;
}



@media (max-width:425px) {

  #admission-section {
    max-width:100%;
    height: auto;
    padding:2px;
  }


  #admission-section > h1 {
    font-size: 1.5rem;
  }

  .admission-section-container > h1 {
    font-size: 1.5rem;
  }

  .admission-section-container > h3 {
    font-size: 1.2rem;
  }


  .admission-section-container > h3 {
    font-size: 1.2rem;
  }

  .admission-criteria-container > h1 {
     font-size: 1.5rem;
  }

    .apply-criteria-lists-container > ul > li {
       font-size: 1.2rem;
    }

    .admission-steps-container > h1 {
      font-size: 1.5rem;
    }

  .admission-process-lists-container > ul > li {
    font-size: 1rem;
  }

  .apply-criteria-lists-container > ul > li {
    font-size: 1rem;
  }
}