#course-section {
  max-width:100%;
  height: auto;
  padding:4px;
/*  border:1px solid blue;*/
  text-align: center;
  margin-top: 20px;
  background-color: #1D6BE0;
  text-align: center;
  margin-bottom: 20px;
   background:linear-gradient(45deg, #00235B, #005792, #085F63);
}

#course-section > h1 {
	font-size: 2.5rem;
	color:white;
    font-family: "Montserrat", sans-serif;
   font-weight: 600;
   font-style: normal;
   margin-top: 4px;
   margin-bottom: 4px;
}

.course-container {
  width:100%;
  height: auto;
/*  border:1px solid black;*/
/*    margin: 20px;*/
}

.course-intro {
  max-width:400px;
  height: auto;
/*  background-color: #FEFF9F;*/
  padding: 8px;
  margin-bottom: 12px;
  font-size: 1.4rem;
  color:#004182;
/*  color:#2E5077;*/
  font-family: "Montserrat", sans-serif;
/*   font-weight: 100;*/
   font-style: normal;
}

.course-content-container {
    width:100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.course-sub-container {
	width:100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.course-subject-container {
    width:150px;
    height: 180px;
    padding: 8px;
    text-align: center;
    margin:8px;
/*    background-color: #4793AF;*/
    background-color: #B7E0FF;
/*   background-color: #F4F6FF;*/
    box-shadow: 0.3px 0.3px 1px 0.3px black;
   transition: all 0.2s ease-in-out;
}

.course-subject-container > h3 {
	margin-top: 16px;
/*	color:white;*/
    padding: 2px;
	background-color: #F5F0CD;
    font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-style: normal;
   color:#2E5077;
}

.course-subject-container:hover {
/*   transform: scale(0.9);*/
  transform: scale(95%) translateY(10px);
}

.course-icons {
	width:100px;
	height:100px;
}

.programs-intro {
   max-width:400px;
   height: auto;
/*   background-color: #FEFF9F;*/
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
/*  text-align: center;*/
  color:#004182;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
/*   font-weight: 100;*/
   font-style: normal;
}

.programs-content-container {
	width:100%;
	height: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.programs-container {
  width:100%;
  height: auto;
  background-color: lightcoral;
  background-color: #61A3BA;
  display: flex;
  justify-content: center;
  padding: 4px;
}

.programs-checkbox-icons {
  width:20px;
  height: 20px;
  margin:4px;
}

.programs-container > ul > li {
	margin:12px;
	list-style-type: none;
	background-color: #FFFBE6;
	padding: 8px;
	border-radius: 4px;
	color:#1E3E62;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
}

.programs-container > ul > li:hover {
   transform: translateY(-10px);
}



@media (max-width:412px) {

	#course-section > h1 {
		font-size: 1.5rem;
	}

  .programs-container > ul > li {
    font-size: 1.2rem;
  }
}