
.logo {
  max-width:80px;
  height: 80px;
  margin-right: 20px;
}

/*footer-container styling*/
#footer-container {
 width:100%;
 height: auto;
 display: flex;
 flex-direction: column;
 padding-top: 20px;
 padding-bottom: 10px;
 background-color: #205373;
 color: white;
 margin-top: 40px;
}

/*footer-first-container styling*/
.footer-first-container {
 width:100%;
 height: auto;
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
 font-size: 1.6rem;
/* border: 1px solid yellow;*/
 margin-top: 10px;

}

/*footer-logo-container styling*/
.footer-logo-container {
 max-width:140px;
 height: 100px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: flex-start;
/* border:1px solid white;*/
}

#footer-logo {
	width:100%;
	height: 100%;
}

/*footer-content-container styling*/
.footer-content-container {
  max-width:70%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
/*  border:1px solid violet;*/
}

/*footer-sub-container styling*/
.footer-links-container {
 width:300px;
 height: auto;
 display: flex;
 justify-content: flex-start;
 flex-direction: column;
 align-items: start;
 margin-top:10px;
/* border:1px solid red;*/
}

.footer-links-container > h5 {
	font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color:#FFF4EA;
}
	
.footer-sub-container > h5 {
	font-family: "Open Sans", sans-serif;
}

/*footer-nav-menu-container styling*/
.footer-nav-menu-container {
 list-style: none;
}

.footer-nav-menu-container > li {
	margin:5px;
}

.footer-nav-menu-container > li > a {
	text-decoration: none;
/*	border-bottom: 1px solid white;*/
	color:white;
	font-family: "Open Sans", sans-serif;
	font-size: 1.2rem;
}

.footer-nav-menu-container > li > a:hover {
   color:lightskyblue;
}

#copyright-sign {
	font-weight: bold;
	font-size: 0.8rem;
}

/*follow-box-container styling*/
.follow-box-container {
  max-width:300px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
/*  border:1px solid white;*/
  margin-top: 10px;
  margin-left: 20px;
}

.follow-box-container  > h5 {
	font-family: "Open Sans", sans-serif;
	color:#FFF4EA;
/*	font-size: 1rem;*/
/*font-family: "Gill Sans", sans-serif;;*/
}

.social-links-container {
	width: 100%;
	height: auto;
/*	text-align: center;*/
/*	border:1px solid white;*/
	margin-top: 10px;
}

/*social-links styling*/
.social-links {

}

#quick-contact {
	width: 300px;
	height: auto;
	display: flex;
	justify-content: flex-start;
	align-items: start;
	flex-direction: column;
	  margin-top: 10px;
/*	border:1px solid white;*/
}

.quick-contact-contents {
	width:100%;
	height: auto;
/*	border:1px solid yellow;*/
/*	justify-content: center;*/
/*	align-items: center;*/
}

#quick-contact > h5 {
/*	margin:auto;*/
	margin-bottom: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color:#FFF4EA;
}

.icon-container {
 max-width:100%;
 height: auto;
 display: flex;
 justify-content: flex-start;
 align-items: center;
/* border: 1px solid white;*/
/* margin:4px;*/
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  word-break: break-word;
  margin:8px;
}

.quick-links {
   font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/*.icon-container > span {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}*/

.icon {
	max-width:30px;
	height: 30px;
	margin: 5px;
/*  border:1px solid blue;*/
margin-right:12px;
}
/*social-img styling*/
.social-img {
 max-width:30px;
 height: 30px;
 margin: 4px;
}

/*footer-second-container styling*/
.footer-second-container {
	margin-top: 20px;
	position: relative;
	bottom: 0;
  text-align: center;
}

.footer-second-container > p {
	font-family:'Open Sans',sans-serif;
}

#developedby {
	text-decoration: underline;
	font-style: italic;
	color:#FBFBFB;
	font-family: 'Open Sans',sans-serif;
}




@media (max-width:425px) {

	.footer-logo-container {
		    width:100px;
        height: 100px;
        border:1px solid white;
        margin-left: 8px;
	}
	.footer-second-container > p  {
		margin-top: 10px;
		font-size: 0.8rem;
	}

	.follow-box-container  > h5 {
		font-size: 1rem;
	}

	.footer-links-container {
		align-items: center;
	}

	#quick-contact {
		align-items: center;
	}

	.footer-links-container > h5 {
		font-size: 1rem;
	}

	.footer-nav-menu-container > li > a {
		font-size: 0.9rem;
	}

	#quick-contact > h5 {
		font-size: 1rem;
	}

	#quick-contact {
		margin-top: 10px;
	}

	.quick-contact-contents > .icon-container {
		font-size: 1rem;
	}

	.follow-box-container {
		margin-top: 10px;
	}

		#whatsapp-icon-container {
			width: 50px;
			height: 50px;
		}

		#footer-logo {
			width:100px;
			height: 100px;
		}


}