* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #F9F9F9;
}

body {
  min-height: 100%;
  background-image: url('/images/noise7.png');
  background-repeat: repeat;
  background-position: center;
  background-size: auto;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url('/images/noise7.png');
  background-repeat: repeat;
  opacity: 0.1;
  pointer-events: none;
  z-index: 0;
}

.box {
/*    opacity: 0;  /* Initially hidden */*/
/*    transform: translateY(50px); /* Start slightly lower */*/
}

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
