* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #F9F9F9;
}

.box {
    opacity: 0;  /* Initially hidden */
    transform: translateY(50px); /* Start slightly lower */
}